main p{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 18px;
}
header, footer{
    background-color: darkkhaki;
}
.site-title{
   color:slategrey
}
#my-imagine{
    box-shadow: 0px 0px 2px 1px #000000;
}
ul{
    list-style-type: square;
}
ul li:nth-child(odd){
    background-color: blanchedalmond;
}
a:link{
    text-decoration: none;
}
a:link{
    background-color: lightgrey;
}
a:link{
    border: 1px solid darkgray;
}
a:hover{
    background-color: lavender;
}